@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800;900&display=swap');





:root {
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    --fgcolor: #000000;
    --fgcolorpass: #00000020;
    --fgcolormid: #777777;
    --bgcolor: #dddddd;
}

body {
    -webkit-tap-highlight-color: transparent;
    font-family: 'Inter', sans-serif !important;
    background-color: var(--bgcolor) !important;
    transition: background-color 2s cubic-bezier(0.1, 0.9, 0.2, 1);
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
    display: flex;
    flex-direction: column;
    margin: 0px;
    position: fixed;
}

[contenteditable="true"]:empty:not(:focus):before {
    content: attr(placeholder);
    opacity: 50%;
}

#cListInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

ul li button {
    color: var(--fgcolor);
    padding: 6px !important;
    font-family: 'Inter', sans-serif !important;
}

#iListColor {
    border-radius: 50%;
    border: none;
    outline: none;
    padding: 0px;
    height: 24px;
    width: 24px;
    -webkit-appearance: none;
}

#iListColor::-webkit-color-swatch-wrapper {
    padding: 0;
    -webkit-appearance: none;
}

#iListColor::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    -webkit-appearance: none;
}

hr {
    margin: 0px !important;
    color: var(--fgcolor);
    background-color: var(--fgcolor);
    border-style: solid;
}

.notelist-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    height: 40px;
    padding-block: 8px;
}

.notelist-item:not(:first-child){
    border-top: 1px solid var(--fgcolorpass);
}

.note-option {
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 6px !important;
    color: var(--fgcolor);

}

.shelf-option {
    align-self: center;
    height: inherit;
    font-size: 1.25rem;
}

.shelf-name {
    flex-grow: 1;
    text-align: start;
    font-size: 1.5rem;
}

#tFolderIcons, #tFolderColors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#tFolderIcons button, #tFolderColors button{
    height: 60px;
    width: 60px;
    background-color: transparent;
    margin: 8px;
}
#tFolderIcons button i, #tFolderColors button i{
    font-size: 40px;
}

#tFolderIconSwitcher{
    background-color: transparent;
    padding-inline: 0px;
}

#tFolderIconSwitcher i{
    font-size: 32px;
}

#header {
    display: flex;
    height: 28px;
    width: calc(100vw - 32px);
    padding: 16px;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
    overscroll-behavior-y: none;
}

.folder-icon{
    color: white;
    padding-inline: 8px;
    border-radius: 50px;
    padding-block: 6px;
    font-size: 20px;
}

.option-icon{
    background-color: black;
    color: white;
    padding-inline: 8px;
    border-radius: 50px;
    padding-block: 6px;
    font-size: 20px;
}

.notecard {
    color: var(--fgcolor) !important;
    background-color: var(--fgcolorpass) !important;
    transition: background-color 2s cubic-bezier(0.1, 0.9, 0.2, 1), color 2s cubic-bezier(0.1, 0.9, 0.2, 1);

}

#iNoteName::placeholder,
#iNoteContent::placeholder {
    color: var(--fgcolormid) !important;
}

.tNoteStatus {
    color: var(--fgcolor) !important;
    border-color: var(--fgcolor) !important;
    transition: background-color 2s cubic-bezier(0.1, 0.9, 0.2, 1), color 2s cubic-bezier(0.1, 0.9, 0.2, 1);
}

#iNoteName, #iListName {
    font-family: 'Inter', sans-serif !important;
    font-size: 34px;
    width: -webkit-fill-available;
    font-weight: 700;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 12px;
    margin-block: 26px;
    padding-inline: 0px;
    resize: none;
    background-color: transparent;
    color: var(--fgcolor);
    overflow: hidden;
}
#iNoteName, #cListInfo, #tFolderIcons, #tFolderColors{
    margin-inline: 5vw;
}
#tListColor{
    height: 53px;
    width: 53px;
}

#iNoteContent {
    font-family: 'Inter', sans-serif !important;
    width: -webkit-fill-available;
    font-size: 20px;
    height: 90%;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    border-radius: 12px;
    margin-inline: 5vw;
    padding-inline: 0px;
    resize: none;
    line-height: 2rem;
    background-color: transparent;
    color: var(--fgcolor);

}

#vNoteList p {
    font-size: 24px;
}

#vEditor {
    height: -webkit-fill-available;
}

dialog {
    border: none;
    background-color: var(--bgcolor);
    transition: background-color 2s cubic-bezier(0.1, 0.9, 0.2, 1), color 2s cubic-bezier(0.1, 0.9, 0.2, 1);
    border-radius: 12px;
}

dialog h2 {
    color: var(--fgcolor);
    font-weight: 700;
}

dialog p,
#cEmptyListHeader {
    color: var(--fgcolor);
}

#cEmptyListHeader {
    margin-top: 8px;
}

dialog input {
    outline: none !important;
    box-shadow: none !important;
    border: none;
    background-color: var(--fgcolorpass) !important;
    color: var(--fgcolor) !important;
    border-radius: 12px !important;
}

button, input[type="checkbox"]{
    cursor: pointer !important;
}

.toolbutton {
    font-family: 'Inter', sans-serif !important;
    font-size: 18px;
    height: 48px;
    color: var(--fgcolor) !important;
    border-style: solid;
    background-color: transparent;
    padding-inline: 10px;
    border-radius: 12px;
    transition: background-color 2s cubic-bezier(0.1, 0.9, 0.2, 1), color 2s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.toolbutton i {
    font-size: 1.3rem;
    color: var(--fgcolor);
    transition: background-color 2s cubic-bezier(0.1, 0.9, 0.2, 1), color 2s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.toolbutton:hover {
    background-color: var(--fgcolorpass) !important;
}

.notecard {
    border-width: 0px !important;
    border-radius: 12px !important;
    max-height: 250px;
    width: auto;
    margin-inline: 5vw;
    margin-bottom: 8px;
    cursor: pointer;
    user-select: none;
    padding-block: .75rem;
    padding-inline: 1rem;
    transition: opacity .5s cubic-bezier(0.1, 0.9, 0.2, 1);
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    width: auto;
    line-height: 1.5rem;
    margin-right: 16px;
}

.card-text:not(:empty){
    margin-block: .5rem !important;
}

.shelf-name i{
    margin-right: 5px;
}

#tPageTitle,
#tFoldersTitle {
    width: -webkit-fill-available;
    font-weight: 700;
    font-size: 34px;
    color: var(--fgcolor);
    margin-inline: 5vw;
}

#cEmptyListHeader {
    margin-inline: 5vw;
}

#tBack {
    font-size: 18px;
}

#tBack i {
    font-size: 18px;
}

body[activeview="edit"] #tNewShelf,
body[activeview="edit"] #tNewNote {
    display: none;
}

body[activeview="edit"] #tDeleteNote,
body[activeview="edit"] #tCloseNote,
body[activeview="edit"] #tShareNote,
body[activeview="edit"] #tDownNote {
    display: block;
}

body[activeview="list"] #tNewNote {
    display: block;
}

body[activeview="list"] #tCloseNote,
body[activeview="list"] #tDeleteNote,
body[activeview="list"] #tNewShelf,
body[activeview="list"] #tShareNote,
body[activeview="list"] #tDownNote {
    display: none;
}

body[activeview="all"] #tCloseNote,
body[activeview="all"] #tDeleteNote,
body[activeview="all"] #tNewNote,
body[activeview="all"] #tShareNote,
body[activeview="all"] #tDownNote {
    display: none;
}

body[activeview="editf"] #tCloseNote,
body[activeview="editf"] #tDeleteNote,
body[activeview="editf"] #tNewNote,
body[activeview="editf"] #tShareNote,
body[activeview="editf"] #tDownNote {
    display: none;
}

#vFolderList,
#vFolderTools {
    border: none;
    background-color: var(--fgcolorpass);
    border-radius: 12px;
    padding-inline: 1rem !important;
    padding-block: .5rem;
    margin-inline: 5vw;
}

#vFolderList li button,
#vFolderTools li button {
    background-color: transparent;
    border: none;
}

#vFolders,
#vNotes,
#vEditor,
#vFolderSettings {
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    top: 60px;
    height: calc(100vh - 60px);
    width: 100%;
    transition: left .7s cubic-bezier(0.1, 0.9, 0.2, 1), opacity .6s cubic-bezier(0.1, 0.9, 0.2, 1), width .7s cubic-bezier(0.1, 0.9, 0.2, 1);
}

body[activeview="all"] #vFolders {
    left: 0%;
    opacity: 1;
}

body[activeview="all"] #vNotes {
    left: 100%;
    opacity: 0;
}

body[activeview="all"] #vEditor {
    left: 200%;
    opacity: 0;
}

body[activeview="all"] #vFolderSettings{
    left: 100%;
    opacity: 0;
}

body[activeview="list"] #vFolders {
    left: 0%;
    width: 33%;
    opacity: 1;
}

body[activeview="list"] #vNotes {
    left: 33%;
    width: 66%;
    opacity: 1;
}

body[activeview="list"] #vFolderSettings{
    left: 100%;
    opacity: 0;
}

body[activeview="list"] #vFolderList,
body[activeview="list"] #vFolderTools,
body[activeview="list"] #tFoldersTitle{
    margin-right: 8px;
}

body[activeview="list"] #tPageTitle,
body[activeview="list"] .notecard,
body[activeview="list"] #cEmptyListHeader{
    margin-left: 8px;
}

body[activeview="list"] #vEditor {
    left: 100%;
    opacity: 0;
}

body[activeview="edit"] #vFolders {
    left: -200%;
    opacity: 0;
}

body[activeview="edit"] #vNotes {
    left: 0%;
    width: 33%;
    opacity: 1;
}

body[activeview="edit"] #vEditor {
    left: 33%;
    width: 66%;
    opacity: 1;
}

body[activeview="edit"] #vFolderSettings{
    left: 100%;
    opacity: 0;
}

body[activeview="edit"] #iNoteName {
    margin-left: 8px;
}

body[activeview="edit"] #iNoteContent {
    margin-left: 8px;
}

body[activeview="edit"] .notecard {
    margin-right: 8px;
}

body[activeview="edit"] #tPageTitle {
    margin-right: 8px;
}

body[activeview="editf"] #vFolders {
    left: 0%;
    opacity: 1;
    width: 33%;
}

body[activeview="editf"] #vFolderSettings{
    left: 33%;
    width: 66%;
    opacity: 1;
}

body[activeview="editf"] #vNotes {
    left: 100%;
    opacity: 0;
}

body[activeview="editf"] #vEditor {
    left: 100%;
    opacity: 0;
}

body[activeview="editf"] #vFolderList,
body[activeview="editf"] #vFolderTools,
body[activeview="editf"] #tFoldersTitle{
    margin-right: 8px;
}

body[activeview="editf"] #cListInfo,
body[activeview="editf"] #tFolderIcons,
body[activeview="editf"] #tFolderColors{
    margin-left: 8px;
}



.card-title {
    margin: 0px;
    font-size: 1.2rem !important;
    font-weight: 700;
    width: 100%;

    display: inline-flex;
    outline: none;
    cursor: text;
}

.tNoteStatus {
    -webkit-appearance: none;
    background-color: transparent;
    border: 3px solid;
    border-radius: 17px;
    height: 20px;
    min-width: 20px;
    margin-right: 8px;
    align-self: center;
}

#iListName, .toolbutton {
    border-width: 0px !important;
    background-color: var(--fgcolorpass);
    border-radius: 12px !important;
    padding-inline: 12px;
}

.tNoteStatus:checked:after {
    content: '\F26E';
    font-size: 15px;
    font-family: bootstrap-icons;
    position: relative;
    left: -1px;
}

.card-heading {
    display: flex;
    align-items: center;
}

body[activeview="all"] #tBack {
    padding-inline: 8px;
}

body[activeview="all"] #tBack i {
    font-size: 26px;
}
#iListName{
    font-family: 'Inter', sans-serif !important;
}
#cRenameHeader, #cDeleteHeader{
    margin-top: 0px;
}
form{
    margin-bottom: 0px
}
::-webkit-scrollbar{
    width: 5px;
    border-radius: 5px;
  } 
  
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0, .25);
}
#tDownNote{
    margin-left: auto;
}  





@media screen and (max-width: 600px) {

    #vFolderList,
    #tPageTitle,
    #tFoldersTitle,
    #iNoteContent,
    #iNoteName,
    #vFolderTools,
    #cListInfo,
    #tFolderIcons,
    #tFolderColors,
    .notecard {
        margin-inline: 16px !important;
    }

    #cEmptyListHeader {
        margin-inline: 0px;
    }

}

@media screen and (min-width: 800px) and (max-width: 1100px) {
    body[activeview="edit"] #vNotes {
        left: 0%;
        width: 50%;
        opacity: 1;
    }
    
    body[activeview="edit"] #vEditor {
        left: 50%;
        width: 50%;
        opacity: 1;
    }

    body[activeview="list"] #vNotes,
    body[activeview="editf"] #vFolderSettings {
        left: 50%;
        width: 50%;
        opacity: 1;
    }

    body[activeview="list"] #vFolders,
    body[activeview="editf"] #vFolders
    {
        left: 0%;
        width: 50%;
        opacity: 1;
    }
}

@media screen and (max-width: 800px){
    body[activeview="edit"] #vNotes {
        left: -100%;
        width: 100%;
        opacity: 0;
    }
    
    body[activeview="edit"] #vEditor {
        left: 0%;
        width: 100%;
        opacity: 1;
    }

    body[activeview="editf"] #cListInfo,
    body[activeview="editf"] #tFolderIcons,
    body[activeview="editf"] #tFolderColors{
        margin-left: 5vw;
    }

    body[activeview="edit"] #iNoteName {
        margin-left: 5vw;
    }
    
    body[activeview="edit"] #iNoteContent {
        margin-left: 5vw;
    }
    
    body[activeview="edit"] .notecard {
        margin-inline: 5vw;
    }
    
    body[activeview="edit"] #tPageTitle {
        margin-inline: 5vw;
    }


    body[activeview="list"] #vNotes,
    body[activeview="editf"] #vFolderSettings {
        left: 0%;
        width: 100%;
        opacity: 1;
    }

    body[activeview="list"] #vFolders,
    body[activeview="editf"] #vFolders
    {
        left: -100%;
        width: 100%;
        opacity: 0;
    }

    body[activeview="list"] #vFolderList,
    body[activeview="list"] #vFolderTools,
    body[activeview="list"] #tFoldersTitle{
        margin-right: 5vw;
    }

    body[activeview="list"] #tPageTitle,
    body[activeview="list"] .notecard,
    body[activeview="list"] #cEmptyListHeader{
        margin-left: 5vw;
    }
}